.product-card_field {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

.product-card_field_not-found {
  text-align: center;
  margin-top: 20px;

  svg {
    width: 150px;
    height: 150px;
  }

  h2 {
    font-size: 24px;
  }
}
