.filter_block {
  font-family: 'Roboto';
  color: $font-color-main;
}

.filter_block h2 {
  text-transform: capitalize;
  text-align: center;
}

.filter_list {
  height: 200px;
  overflow-y: auto;
  padding-right: 5%;
}

.filter_list::-webkit-scrollbar {
  width: 10px;
}

.filter_list::-webkit-scrollbar-track {
  background-color: $additional-color;
}

.filter_list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: $brand-color;
  transition: filter .3s;
}

.filter_list::-webkit-scrollbar-thumb:hover {
  background-color: #e22d0d;
}
