.shopping-cart-icon {
  display: flex;
  align-items: center;
}

.shopping-cart-icon svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.shopping-cart-icon__amount{
  font-size: 20px;
  user-select: none;
}
