.slider_block {
  font-family: 'Roboto';
  color: $font-color-main;
}

.slider_block h2 {
  text-transform: capitalize;
  text-align: center;
}

.range_items {
  position: relative;
  display: flex;
  justify-content:  space-evenly;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 50%;
  width: 20px;
  height: 1px;
  background-color: $font-color-main;
}

.range_slider input[type=range] {
  -webkit-appearance: none;
  background-color: silver;
  width: 100%;
  height:10px;
}

.range_slider input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
  background-color: $brand-color;
  width: 10px;
  height: 26px;
}