.button_stylized {
  height: 56px;
  width: 100%;
  max-width: unset;
  padding: 0;
  border-radius: 28px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: filter .3s;

  &:hover {
    filter: brightness(1.1);
  }
}

.button_stylized_brand {
  background-color: $brand-color;
}

.button_stylized_additional {
  background-color: $font-color-main;
}