@import './abstracts/variables.scss';

@import './layout/Header';
@import './layout/Footer';
@import './layout/wrapper';
@import './layout/ProductCardField';
@import './layout/Products';
@import './layout/Main.scss';
@import './layout/ShoppingCart';
@import './layout/NotFound';
@import './layout/Product';
@import './layout/modal-window';
@import './layout/buy-products-form';
@import './layout/Promocode';

@import './components/SearchBar';
@import './components/ShoppingCartIcon';
@import './components/TextLogo';
@import './components/link';
@import './components/ProductCard';
@import './components/SortProducts';
@import './components/FilterBlock';
@import './components/FilterList';
@import './components/FilterListPoint';
@import './components/SliderBlock';
@import './components/StylizedButton';
@import './components/pagination';

@import './base/normalize';